<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496568699182-h47a0uudgk170kgnbdmsvelmei834j5v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496568699182-h47a0uudgk170kgnbdmsvelmei834j5v</string>
	<key>API_KEY</key>
	<string>AIzaSyBJzJn7yYkuzHp0Tdt8H-Ms3vz-2BQQ1zQ</string>
	<key>GCM_SENDER_ID</key>
	<string>496568699182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.user.kathy</string>
	<key>PROJECT_ID</key>
	<string>auesome-fc164</string>
	<key>STORAGE_BUCKET</key>
	<string>auesome-fc164.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496568699182:ios:87bd07bdff7693234852bf</string>
</dict>
</plist>